@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Demos y Ejercicios</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">AZ-204 Developing solutions for Microsoft Azure</a></p>
</div>
